main.ps-main
    .ps-container
        .ps-product--detail
            .row
                +column({cols: [8, 7, 12, 12]})
                    .ps-product__thumbnail
                        span.ps-product__search: i.ps-icon-search
                        .ps-product__image
                            .item: a(href='images/shoe-detail/1.jpg'): img(src="images/shoe-detail/1.jpg" alt="")
                            .item: a(href='images/shoe-detail/2.jpg'): img(src="images/shoe-detail/2.jpg" alt="")
                            .item: a(href='images/shoe-detail/3.jpg'): img(src="images/shoe-detail/3.jpg" alt="")
                            //.item: a(href='images/shoe-detail/2.jpg'): img(src="images/shoe-detail/2.jpg" alt="")
                            //.item: a(href='images/shoe-detail/1.jpg'): img(src="images/shoe-detail/1.jpg" alt="")
                        .ps-product__preview
                            .ps-product__variants
                                .item: img(src="images/shoe-detail/1.jpg" alt="")
                                .item: img(src="images/shoe-detail/2.jpg" alt="")
                                .item: img(src="images/shoe-detail/3.jpg" alt="")
                                .item: img(src="images/shoe-detail/2.jpg" alt="")
                                .item: img(src="images/shoe-detail/1.jpg" alt="")
                            .ps-video: a(class="popup-youtube" href="https://www.youtube.com/watch?v=meBbDqAXago").ps-product__video
                                img(src="images/shoe-detail/1.jpg" alt="")
                                i.fa.fa-play

                +column({cols: [4, 5, 12, 12]})
                    .ps-product__info
                        .ps-product__rating
                            select.ps-rating
                                option(value='1') 1
                                option(value='1') 2
                                option(value='1') 3
                                option(value='1') 4
                                option(value='2') 5
                            a(href='#') (Read all 8 reviews)
                        h1 Air strong  training
                        p.ps-product__category
                            a(href='#')   Men shoes
                            | ,
                            a(href='#')   Nike
                            | ,
                            a(href='#')   Jordan
                        h3.ps-product__price <span>£</span> 115 <del><span>£</span> 330</del>
                        .ps-product__short-desc
                            p The Nike Free RN 2017 Men's Running Shoe weighs less than previous versions and features an updated knit material…
                            p <strong>SKU</strong>: ABCDEF
                            p <strong>AVAILABILITY</strong>: <span class="ps-success">IN STOCK</span>
                        .ps-product__block.ps-product__style
                            h4 CHOOSE YOUR COLOR
                            - for (var i = 0; i < 4; i ++)
                                if i > 0
                                    +radio--1("radio"+i, "ps-radio--inline ps-radio--color"+i)
                                else
                                    +radio--1("radio-0", "ps-radio--inline")
                        .ps-product__block.ps-product__size
                            h4 CHOOSE SIZE & QUANTITY
                                a(href='#') Size chart
                            select.ps-select.selectpicker(title="Select Size")
                                - for (var i = 0; i < 6; i ++)
                                    option(value=i) #{i + 1}
                            .form-group.ps-number
                                input.form-control(type="text" value='1')
                                span.up
                                span.down
                        .ps-product__shopping
                            a(href='cart.html').ps-btn Order Now
                            .ps-product__actions
                                a(href='whishlist.html').mr-10: i.ps-icon-heart
                                a(href='compare.html' title="Compare"): i.ps-icon-compare
                        p.ps-product__sharing Share this:
                            a(href='#'): i.fa.fa-facebook
                            a(href='#'): i.fa.fa-twitter
                            a(href='#'): i.fa.fa-instagram
            .ps-product__content
                ul(class="tab-list" role="tablist")
                    li.active
                        a(href="#tab_01" aria-controls="tab_01" role="tab" data-toggle="tab") Overview
                    li
                        a(href="#tab_02" aria-controls="tab_02" role="tab" data-toggle="tab") Review
                    li
                        a(href="#tab_03" aria-controls="tab_03" role="tab" data-toggle="tab") PRODUCT TAGs
                    li
                        a(href="#tab_04" aria-controls="tab_04" role="tab" data-toggle="tab") ADDITIONAL
            .tab-content
                .tab-pane.active(role='tabpanel')#tab_01
                    p Caramels tootsie roll carrot cake sugar plum. Sweet roll jelly bear claw liquorice. Gingerbread lollipop dragée cake. Pie topping jelly-o. Fruitcake dragée candy canes tootsie roll. Pastry jelly-o cupcake. Bonbon brownie soufflé muffin.
                    p Sweet roll soufflé oat cake apple pie croissant. Pie gummi bears jujubes cake lemon drops gummi bears croissant macaroon pie. Fruitcake tootsie roll chocolate cake Carrot cake cake bear claw jujubes topping cake apple pie. Jujubes gummi bears soufflé candy canes topping gummi bears cake soufflé cake. Cotton candy soufflé sugar plum pastry sweet roll..
                .tab-pane(role='tabpanel')#tab_02
                    p.mb-20 1 review for <strong>Shoes Air Jordan</strong>
                    .ps-review
                        .ps-review__thumbnail: img(src="images/user/1.jpg" alt="")
                        .ps-review__content
                            header
                                select.ps-rating
                                    option(value='1') 1
                                    option(value='1') 2
                                    option(value='1') 3
                                    option(value='1') 4
                                    option(value='5') 5
                                p By
                                    a(href='')  Alena Studio
                                    |  - November 25, 2017
                            p Soufflé danish gummi bears tart. Pie wafer icing. Gummies jelly beans powder. Chocolate bar pudding macaroon candy canes chocolate apple pie chocolate cake. Sweet caramels sesame snaps halvah bear claw wafer. Sweet roll soufflé muffin topping muffin brownie. Tart bear claw cake tiramisu chocolate bar gummies dragée lemon drops brownie.
                    form(action="do_action" method="post").ps-form--product-review
                        h4 ADD YOUR REVIEW
                        .row
                            +column({cols: [6, 6, 6, 12]})
                                .form-group
                                    label Name:
                                        span *
                                    input.form-control(type="text" placeholder="")
                                .form-group
                                    label Email:
                                        span *
                                    input.form-control(type="email" placeholder="")
                                .form-group
                                    label Your rating
                                        span
                                    select.ps-rating
                                        option(value='1') 1
                                        option(value='1') 2
                                        option(value='1') 3
                                        option(value='1') 4
                                        option(value='5') 5
                            +column({cols: [8, 8, 6, 12]})
                                .form-group
                                    label Your Review:
                                    textarea.form-control(rows="6")
                                .form-group
                                    button.ps-btn--outline Submit Reviews
                .tab-pane(role='tabpanel')#tab_03
                    p Add your tag <span> *</span>
                    form(action="_action" method="post").ps-form--create-tags
                        .form-group
                            input.form-control(type="text" placeholder="")
                            button.ps-btn Add Tags
                    p Use spaces to separate tags. Use single quotes ( * ) for phrases.
                .tab-pane(role='tabpanel')#tab_04
                    form(action="do_action" method="post" class="ps-form--addition")
                        .form-group
                            textarea.form-control(rows='6' placeholder="Enter your addition here...")
                        .form-group
                            button.ps-btn--outline Submit


