<div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="home-2" data-source="gallery" style="background:transparent;padding:0px;">
<!-- START REVOLUTION SLIDER 5.4.6.3.1 fullscreen mode -->
<div id="rev_slider_4_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.6.3.1">
<ul>
<!-- SLIDE  -->
<li data-index="rs-14" data-transition="zoomout,slotzoom-vertical,curtain-2" data-slotamount="default,default,default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power0.easeInOut,default,default" data-easeout="default,default,default" data-masterspeed="default,default,default" data-rotate="0,0,0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
<!-- MAIN IMAGE -->
<img src="images/slider/slider-6.jpg" alt="" title="slider-6" width="1920" height="800" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
<!-- LAYERS -->
<!-- LAYER NR. 1 -->
<div class="tp-caption rev-btn " id="slide-14-layer-1" data-x="['center','center','center','center']" data-hoffset="['1','0','1','0']" data-y="['middle','top','top','middle']" data-voffset="['136','388','571','102']" data-fontsize="['14','14','14','12']" data-fontweight="['600','600','500','500']" data-letterspacing="['2','','','']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"500","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(51,51,51);bg:rgb(255,255,255);"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[14,14,10,10]" data-paddingright="[45,45,30,30]" data-paddingbottom="[14,12,10,10]" data-paddingleft="[45,45,30,30]" style="z-index: 5; white-space: nowrap; font-size: 14px; line-height: 20px; font-weight: 600; color: #ffffff; letter-spacing: 2px;font-family:Poppins;text-transform:uppercase;background-color:rgb(255,169,39);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">SEE COLLECTION </div>
<!-- LAYER NR. 2 -->
<h2 class="tp-caption   tp-resizeme" id="slide-14-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-9','1','-1','-1']" data-fontsize="['48','40','35','25']" data-lineheight="['50','60','40','30']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; font-size: 48px; line-height: 50px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Libre Baskerville;text-transform:uppercase;">EMMBRA COLLECTION </h2>
<!-- LAYER NR. 3 -->
<p class="tp-caption   tp-resizeme" id="slide-14-layer-3" data-x="['left','center','center','center']" data-hoffset="['381','0','0','0']" data-y="['middle','top','middle','middle']" data-voffset="['63','334','50','43']" data-fontsize="['20','15','15','14']" data-lineheight="['25','20','20','20']" data-fontweight="['300','400','400','400']" data-color="['rgb(247,247,247)','rgb(159,159,159)','rgb(159,159,159)','rgb(159,159,159)']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: nowrap; font-size: 20px; line-height: 25px; font-weight: 300; color: #f7f7f7; letter-spacing: 0px;font-family:Poppins;">Diamond Earring In 18Kt Yellow Gold (7.64 gram)
<br> with Diamonds (0.0880 Ct) </p>
<!-- LAYER NR. 4 -->
<h4 class="tp-caption   tp-resizeme" id="slide-14-layer-5" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-70','-44','-44','-40']" data-fontsize="['36','18','18','18']" data-lineheight="['40','20','20','20']" data-fontweight="['300','300','300','400']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":320,"speed":1500,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8; white-space: nowrap; font-size: 36px; line-height: 40px; font-weight: 300; color: #ffffff; letter-spacing: 0px;font-family:Poppins;text-transform:capitalize;">Classic Jewelry </h4>
</li>
<!-- SLIDE  -->
<li data-index="rs-16" data-transition="zoomout,slotzoom-vertical,curtain-2" data-slotamount="default,default,default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power0.easeInOut,default,default" data-easeout="default,default,default" data-masterspeed="default,default,default" data-rotate="0,0,0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
<!-- MAIN IMAGE -->
<img src="images/slider/slider-8.jpg" alt="" title="slider-8" width="1920" height="800" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
<!-- LAYERS -->
<!-- LAYER NR. 5 -->
<div class="tp-caption rev-btn " id="slide-16-layer-1" data-x="['center','center','center','center']" data-hoffset="['1','0','1','0']" data-y="['middle','top','top','middle']" data-voffset="['136','388','571','102']" data-fontsize="['14','14','14','12']" data-fontweight="['600','600','500','500']" data-letterspacing="['2','','','']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"500","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(51,51,51);bg:rgb(255,255,255);"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[14,14,10,10]" data-paddingright="[45,45,30,30]" data-paddingbottom="[14,12,10,10]" data-paddingleft="[45,45,30,30]" style="z-index: 5; white-space: nowrap; font-size: 14px; line-height: 20px; font-weight: 600; color: #ffffff; letter-spacing: 2px;font-family:Poppins;text-transform:uppercase;background-color:rgb(255,169,39);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">SEE COLLECTION </div>
<!-- LAYER NR. 6 -->
<h2 class="tp-caption   tp-resizeme" id="slide-16-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-9','1','-1','-1']" data-fontsize="['48','40','35','25']" data-lineheight="['50','60','40','30']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; font-size: 48px; line-height: 50px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Libre Baskerville;text-transform:uppercase;">EMMBRA COLLECTION </h2>
<!-- LAYER NR. 7 -->
<p class="tp-caption   tp-resizeme" id="slide-16-layer-3" data-x="['left','center','center','center']" data-hoffset="['381','0','0','0']" data-y="['middle','top','middle','middle']" data-voffset="['63','334','50','43']" data-fontsize="['20','15','15','14']" data-lineheight="['25','20','20','20']" data-fontweight="['300','400','400','400']" data-color="['rgb(247,247,247)','rgb(159,159,159)','rgb(159,159,159)','rgb(159,159,159)']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: nowrap; font-size: 20px; line-height: 25px; font-weight: 300; color: #f7f7f7; letter-spacing: 0px;font-family:Poppins;">Diamond Earring In 18Kt Yellow Gold (7.64 gram)
<br> with Diamonds (0.0880 Ct) </p>
<!-- LAYER NR. 8 -->
<h4 class="tp-caption   tp-resizeme" id="slide-16-layer-5" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-70','-44','-44','-40']" data-fontsize="['36','18','18','18']" data-lineheight="['40','20','20','20']" data-fontweight="['300','300','300','400']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":320,"speed":1500,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8; white-space: nowrap; font-size: 36px; line-height: 40px; font-weight: 300; color: #ffffff; letter-spacing: 0px;font-family:Poppins;text-transform:capitalize;">Classic Jewelry </h4>
</li>
<!-- SLIDE  -->
<li data-index="rs-17" data-transition="zoomout,slotzoom-vertical,curtain-2" data-slotamount="default,default,default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power0.easeInOut,default,default" data-easeout="default,default,default" data-masterspeed="default,default,default" data-rotate="0,0,0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
<!-- MAIN IMAGE -->
<img src="images/slider/slider-6.jpg" alt="" title="slider-6" width="1920" height="800" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
<!-- LAYERS -->
<!-- LAYER NR. 9 -->
<div class="tp-caption rev-btn " id="slide-17-layer-1" data-x="['center','center','center','center']" data-hoffset="['1','0','1','0']" data-y="['middle','top','top','middle']" data-voffset="['136','388','571','102']" data-fontsize="['14','14','14','12']" data-fontweight="['600','600','500','500']" data-letterspacing="['2','','','']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"500","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(51,51,51);bg:rgb(255,255,255);"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[14,14,10,10]" data-paddingright="[45,45,30,30]" data-paddingbottom="[14,12,10,10]" data-paddingleft="[45,45,30,30]" style="z-index: 5; white-space: nowrap; font-size: 14px; line-height: 20px; font-weight: 600; color: #ffffff; letter-spacing: 2px;font-family:Poppins;text-transform:uppercase;background-color:rgb(255,169,39);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">SEE COLLECTION </div>
<!-- LAYER NR. 10 -->
<h2 class="tp-caption   tp-resizeme" id="slide-17-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-9','1','-1','-1']" data-fontsize="['48','40','35','25']" data-lineheight="['50','60','40','30']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; font-size: 48px; line-height: 50px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Libre Baskerville;text-transform:uppercase;">EMMBRA COLLECTION </h2>
<!-- LAYER NR. 11 -->
<p class="tp-caption   tp-resizeme" id="slide-17-layer-3" data-x="['left','center','center','center']" data-hoffset="['381','0','0','0']" data-y="['middle','top','middle','middle']" data-voffset="['63','334','50','43']" data-fontsize="['20','15','15','14']" data-lineheight="['25','20','20','20']" data-fontweight="['300','400','400','400']" data-color="['rgb(247,247,247)','rgb(159,159,159)','rgb(159,159,159)','rgb(159,159,159)']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: nowrap; font-size: 20px; line-height: 25px; font-weight: 300; color: #f7f7f7; letter-spacing: 0px;font-family:Poppins;">Diamond Earring In 18Kt Yellow Gold (7.64 gram)
<br> with Diamonds (0.0880 Ct) </p>
<!-- LAYER NR. 12 -->
<h4 class="tp-caption   tp-resizeme" id="slide-17-layer-5" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-70','-44','-44','-40']" data-fontsize="['36','18','18','18']" data-lineheight="['40','20','20','20']" data-fontweight="['300','300','300','400']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":320,"speed":1500,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8; white-space: nowrap; font-size: 36px; line-height: 40px; font-weight: 300; color: #ffffff; letter-spacing: 0px;font-family:Poppins;text-transform:capitalize;">Classic Jewelry </h4>
</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
</div>
</div>