<div id="rev_slider_3_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="home-3" data-source="gallery" style="background:transparent;padding:0px;">
<!-- START REVOLUTION SLIDER 5.4.6.3.1 fullscreen mode -->
<div id="rev_slider_3_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.6.3.1">
<ul>
<!-- SLIDE  -->
<li data-index="rs-11" data-transition="zoomout,slotzoom-vertical,curtain-2" data-slotamount="default,default,default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power0.easeInOut,default,default" data-easeout="default,default,default" data-masterspeed="default,default,default" data-rotate="0,0,0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
<!-- MAIN IMAGE -->
<img src="images/slider/slider-4.jpg" alt="" title="slider-4" width="1622" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
<!-- LAYERS -->
<!-- LAYER NR. 1 -->
<div class="tp-caption rev-btn " id="slide-11-layer-1" data-x="['left','left','left','left']" data-hoffset="['20','20','10','10']" data-y="['middle','top','top','middle']" data-voffset="['113','374','548','90']" data-fontweight="['700','600','400','500']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"500","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(255,183,39);bc:rgb(255,183,39);"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[10,14,14,10]" data-paddingright="[60,45,45,30]" data-paddingbottom="[10,12,12,10]" data-paddingleft="[60,45,45,30]" style="z-index: 5; white-space: nowrap; font-size: 14px; line-height: 20px; font-weight: 700; color: #ffffff; letter-spacing: px;font-family:Poppins;text-transform:uppercase;background-color:rgb(51,51,51);border-color:rgb(51,51,51);border-style:solid;border-width:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Order now </div>
<!-- LAYER NR. 2 -->
<div class="tp-caption   tp-resizeme" id="slide-11-layer-2" data-x="['left','left','left','left']" data-hoffset="['20','20','10','11']" data-y="['middle','middle','middle','middle']" data-voffset="['-7','1','-1','0']" data-fontsize="['60','40','35','25']" data-lineheight="['60','60','40','30']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; font-size: 60px; line-height: 60px; font-weight: 400; color: #000000; letter-spacing: 0px;font-family:Libre Baskerville;text-transform:uppercase;">BRIDAL Flower </div>
<!-- LAYER NR. 3 -->
<div class="tp-caption   tp-resizeme" id="slide-11-layer-3" data-x="['left','left','left','left']" data-hoffset="['20','20','10','10']" data-y="['middle','top','middle','middle']" data-voffset="['50','334','40','36']" data-fontsize="['36','15','15','15']" data-lineheight="['40','20','20','20']" data-fontweight="['300','600','600','600']" data-color="['rgb(123,123,123)','rgb(159,159,159)','rgb(159,159,159)','rgb(159,159,159)']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: nowrap; font-size: 36px; line-height: 40px; font-weight: 300; color: #7b7b7b; letter-spacing: 0px;font-family:Nunito Sans;">Simple, Special & Sexy </div>
<!-- LAYER NR. 4 -->
<div class="tp-caption   tp-resizeme" id="slide-11-layer-5" data-x="['left','left','left','left']" data-hoffset="['20','20','10','10']" data-y="['middle','middle','middle','middle']" data-voffset="['-60','-44','-44','-36']" data-fontsize="['20','18','18','18']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":320,"speed":1500,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8; white-space: nowrap; font-size: 20px; line-height: 20px; font-weight: 600; color: #333333; letter-spacing: 0px;font-family:Poppins;text-transform:uppercase;">Features Product </div>
</li>
<!-- SLIDE  -->
<li data-index="rs-13" data-transition="zoomout,slotzoom-vertical,curtain-2" data-slotamount="default,default,default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power0.easeInOut,default,default" data-easeout="default,default,default" data-masterspeed="default,default,default" data-rotate="0,0,0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
<!-- MAIN IMAGE -->
<img src="images/slider/slider-3.jpg" alt="" title="slider-3" width="1619" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
<!-- LAYERS -->
<!-- LAYER NR. 5 -->
<div class="tp-caption rev-btn " id="slide-13-layer-1" data-x="['left','left','left','left']" data-hoffset="['1','20','10','10']" data-y="['middle','top','top','middle']" data-voffset="['113','374','548','90']" data-fontweight="['700','600','400','500']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"500","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(255,183,39);bc:rgb(255,183,39);"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[10,14,14,10]" data-paddingright="[60,45,45,30]" data-paddingbottom="[10,12,12,10]" data-paddingleft="[60,45,45,30]" style="z-index: 5; white-space: nowrap; font-size: 14px; line-height: 20px; font-weight: 700; color: #ffffff; letter-spacing: px;font-family:Poppins;text-transform:uppercase;background-color:rgb(51,51,51);border-color:rgb(51,51,51);border-style:solid;border-width:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Order now </div>
<!-- LAYER NR. 6 -->
<div class="tp-caption   tp-resizeme" id="slide-13-layer-2" data-x="['left','left','left','left']" data-hoffset="['0','20','10','11']" data-y="['middle','middle','middle','middle']" data-voffset="['-7','1','-1','0']" data-fontsize="['60','40','35','25']" data-lineheight="['60','60','40','30']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; font-size: 60px; line-height: 60px; font-weight: 400; color: #000000; letter-spacing: 0px;font-family:Libre Baskerville;text-transform:uppercase;">BRIDAL Flower </div>
<!-- LAYER NR. 7 -->
<div class="tp-caption   tp-resizeme" id="slide-13-layer-3" data-x="['left','left','left','left']" data-hoffset="['-1','20','10','10']" data-y="['middle','top','middle','middle']" data-voffset="['50','334','40','36']" data-fontsize="['36','15','15','15']" data-lineheight="['40','20','20','20']" data-fontweight="['300','600','600','600']" data-color="['rgb(123,123,123)','rgb(159,159,159)','rgb(159,159,159)','rgb(159,159,159)']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: nowrap; font-size: 36px; line-height: 40px; font-weight: 300; color: #7b7b7b; letter-spacing: 0px;font-family:Nunito Sans;">Simple, Special & Sexy </div>
<!-- LAYER NR. 8 -->
<div class="tp-caption   tp-resizeme" id="slide-13-layer-5" data-x="['left','left','left','left']" data-hoffset="['0','20','10','10']" data-y="['middle','middle','middle','middle']" data-voffset="['-60','-44','-44','-36']" data-fontsize="['20','18','18','18']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":320,"speed":1500,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8; white-space: nowrap; font-size: 20px; line-height: 20px; font-weight: 600; color: #333333; letter-spacing: 0px;font-family:Poppins;text-transform:uppercase;">Features Product </div>
</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
</div>
</div>