$font-1st: 'Poppins', sans-serif;
$font-2nd: 'Libre Baskerville', serif;

$color-1st: #ffa927;
$color-2nd: #ea1e63;
$color-heading: #303030;
$color-text: #403c34;
$color-dark: #161824;

$timing: cubic-bezier(0.77, 0, 0.175, 1);
