.ps-section--offer-3.bg--cover(data-background='images/offers/fashion-3.jpg')
    .container

        h3 vintage style for man
        h2 $155 <del> $255</del>
        p Over the past 50 years, Fjallraven has expanded from an office <br> in a basement to a globally respected brand...
        ul.ps-countdown.ps-countdown--fashion(data-time="May 30, 2018 12:00:00")
            li <span class="days"></span><p>Days</p>
            li <span class="hours"></span><p>Hours</p>
            li <span class="minutes"></span><p>minutes</p>
            li <span class="seconds"></span><p>Seconds</p>
        a(href='#').ps-btn Order Now