section.ps-section
    .container
        .ps-section__header
            h2 Heading
        .ps-section__content
            .row
                - for (var i = 0; i < 2; i ++)
                    +column({cols: [6, 6, 6, 12]})
                        h1 Heading 1
                        h2 Heading 2
                        h3 Heading 3
                        h4 Heading 4
                        h5 Heading 5
                        h6 Heading 6
            .row
                +column({cols: [6, 6, 6, 12]})
                    p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                    p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                    p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                +column({cols: [6, 6, 6, 12]})
                    ul
                        li Quis autem vel eum iure rep
                        li ignissimos ducimus qui bla
                        li Voluptatum deleniti atque corrupt
                        li Nemo enim ipsam voluptatem quia voluptas sit
                    ol
                        li Quis autem vel eum iure rep
                        li ignissimos ducimus qui bla
                        li Voluptatum deleniti atque corrupt
                        li Nemo enim ipsam voluptatem quia voluptas sit