.ps-widget {
    position: relative;
}

.ps-widget--footer {
    .ps-widget__title {
        position: relative;
        display: inline-block;
        font-size: 18px;
        line-height: 40px;
        color: #403c34;
        font-weight: 700;
        text-transform: uppercase;
        z-index: 10;
        &:before {
            content: '';
            position: absolute;
            bottom: 5px;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 15px;
            background-color: #eee;
        }
    }
}

.ps-widget--info {
    > header {
        .ps-logo {
            margin-bottom: 15px;
            max-width: 120px;
            display: inline-block;
        }
    }
    p {
        font-family: $font-1st;
        font-weight: 400;
        color: #999;
        strong {
            margin-bottom: 20px;
            font-weight: 700;
        }
    }
    &.second {
        padding-top: 55px;
    }
    @include media("<md") {
        &.second {
            padding-top: 0;
        }
    }
}

.ps-widget--link {
    > header {
        h3 {
            font-size: 16px;
        }
    }
    > footer {
        ul.ps-list--link {
            li {
                margin-bottom: 15px;
            }
            a {
                font-family: $font-2nd;
                font-size: 16px;
                font-weight: 700;
                line-height: 1.8em;
                color: #fff;
                text-transform: uppercase;
            }
        }
    }
}

.ps-widget--sidebar {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 25px;
    margin-bottom: 25px;
    .ps-widget__header {
        margin-bottom: 25px;
        h3 {
            font-size: 18px;
            font-weight: 700;
            color: #333;
            text-transform: uppercase;
        }
    }
    .ps-table--size {
        display: block;
        tbody {
            > tr {
                > td {
                    width: 45px;
                    height: 45px;
                    vertical-align: middle;
                    text-align: center;
                    cursor: pointer;
                    font-size: 13px;
                    border: 1px solid #e4e4e4;
                    @include transition(all .4s ease);
                    &.active, &:hover {
                        background-color: $color-1st;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.ps-sticky {
    position: relative;
}

.ps-search--widget {
    position: relative;
    > input {
        padding: 0 20px;
        border: none;
        height: 40px;
        background-color: #e8e8e8;
        @include border-radius(40px);
        font-size: 13px;
        color: $color-text;
        @include placeholder() {
            font-family: $font-1st;
            font-size: 13px;
            color: #adadad;
        }
    }
    > button {
        right: 15px;
        color: #000;
        font-size: 15px;
        border: none;
        background-color: transparent;
        @include vertical-align();
        @include transition(all .4s ease);
        &:hover {
            color: $color-1st;
        }
    }
}

.ps-widget--search {
    border-bottom: none;
}

.widget {
    margin-bottom: 30px;
    .widget-title {
        display: block;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 600;
        color: #333;
        text-transform: uppercase;
    }
}

.widget_search {

}

.widget_category {
    @extend %list-reset;
}

.widget_tags {
    a {
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 5px 10px;
        display: inline-block;
        font-size: 12px;
        line-height: 15px;
        color: #fff;
        background-color: $color-1st;
        &:hover {
            background-color: #101010;
        }

    }
}

